*{
    margin: 0 0;
    padding:  0 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   background-color: rgb(200, 176, 176);
}



 .col{
    /* text-align: center; */
    

    
 }

 .a{
    height: 55vh;
    max-width: 70%;
    text-align: center;
    border-radius: 12px;
    margin-left: 0%;
    margin-top: 2%;
    background-color: white;
    box-shadow: 1px 12px 20px black;

 }

 input{
    margin-top: 8%;
 }
#con{
    width: 100%;
    border-radius: 12px;
    /* float: right; */
    background: white;
    margin: -59% 120%;
    height: 45vh;
    border: 1px inset rgb(0, 0, 0);
    animation: caar 0.5s infinite;
}

 #cap{
    height: 40vh;
    width: 80%;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 4%;
    border: 3px solid white;
    text-align: center;
 }

 p{
    font-weight: bold;
    padding:10px 20px; 
 }


 h1{
    font-size: 40px;
    padding-bottom: 23%;

    width: 900px;
    text-shadow: 4px 4px 10px white;
    animation: asdfg 44s ;
    animation: name duration timing-function delay iteration-count direction fill-mode;
 }


 .f{
    margin-top: 3%;
    float: left;
    /* height: 255vh; */
    margin-left: -34%;
    width: 35%;
 }
 





 @media(max-width:500px){
    .a {
        height: 26vh;
        max-width: 52%;
        text-align: center;
        margin-left: 25%;
        margin-top: 2%;
        background-color: white;
        box-shadow: 1px 12px 20px black;
    }
    #cap {
        height: 40vh;
        width: 80%;
        padding: 1% 2%;
        font-weight: bold;
        font-size: 21px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top: 4%;
        border: 3px solid white;
        text-align: center;
    }


 }


 @media(max-width:348px){
    .a {
        height: 26vh;
        max-width: 63%;
        text-align: center;
        margin-left: 19%;
        margin-top: 2%;
        background-color: white;
        box-shadow: 1px 12px 20px black;
    }
 }

 @media(max-width:310px){
    
    .a {
        height: 26vh;
        max-width: 63%;
        text-align: center;
        margin-left: 19%;
        margin-top: 10%;
        background-color: white;
        box-shadow: 1px 12px 20px black;
    }
    
    
 }
 #thr{
   width: 200px;
   height: 22px;
   margin-left: 30%;
   background-color: #0a0044;
   border: none;
   color: antiquewhite;
   border-radius: 12px;
 }